body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#sticky-wrap {
  min-height: 100%;
}

#footer {
  height: 160px;
  margin-top: -160px;
}

body {
  background-image: url("../src/assets/background1.png");
  background-size: cover;
}
